body {
  font-size: 20px;
}

h2.modified {
  /*font-size: 1.2rem;*/
}

p.modified {
  /*font-size: 0.8rem;*/
  /*color: rgb(red, green, blue), rgba(red, green, blue, alpha) #, black;*/
  /*font-family: "Courier New", Courier, monospace;*/
  /*font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-style: italic;*/
  /*font-stretch: expanded;*/
  /*text-transform: lowercase;*/
  /*text-indent: 10%;
  line-height: 1.5;
  word-spacing: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;*/
  /*text-orientation: ;*/
  /*writing-mode: ;*/
  /*text-orientation: vertical-lr;
  writing-mode: vertical-lr;*/
  white-space: pre;
}
button {
  width: 15%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h2 {
  text-shadow: 0px 0px 5px red;
}
.table-cell {
  width: 50px;
  height: 100px;
  border: 1px solid red;
  text-orientation: upright;
  writing-mode: vertical-lr;
}
