/*Комбинаторы
- для потомкив:


для (наступных) сусидних:*/

/*body * {
  border: 5px solid green;
}*/

body > article {
  border: 1px solid red;
}
/*body * {
  border: 5px solid green;
}*/

h2 + p {
  font-style: italic;
  font-weight: bold;
}
article + article {
  margin-top: 5px;
}
